
.shop_content>.item_wrap{
    border: 1px solid #8a8000;
    padding: 15px;
}
.item_left{
    display: inline-block;
    width: 20%;
    width: 150px;
    margin-right: -4px;
    vertical-align: top;
    padding-right: 15px;
}
.item_mid{
    display: inline-block;
    width: 40%;
    width: calc(100% - 150px - 250px);
    margin-right: -4px;
    vertical-align: top;
}
.item_right{
    display: inline-block;
    width: 40%;
    width: 250px;
    margin-right: -4px;
    vertical-align: top;
}

@media(max-width:992px){
    .item_left{
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
    .item_mid{
        width: 100%;
        margin-right: 0;
    }
    .item_right{
        width: 100%;
        margin-right: 0;
    }
}